button, textarea, input, div, p, span {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

body {
    font-family: monospace;
    text-align: center;
    padding: 0vw;
    font-size: max(1vw, 1vh);
}

#moves button,
#play_again button, #me, #op {
    margin: max(1vw, 1vh);
    font-size: max(2vw, 2vh);
}

#score {
    margin: max(1vw, 1vh);
}

button {
  font-size: inherit;
  font-family: inherit;
  border-radius: max(1vw, 1vh);
  padding: max(1vw, 1vh);
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #f0f0f0;
    }

    button:enabled {
        background-color: #2a2a2a;
        color: #f0f0f0;
        border: 1px solid #555;
    }

    button:disabled {
        background-color: #111;
        color: #aaa;
        border: 1px solid #555;
    }

    button:enabled:hover {
        background-color: #aaa;
    }

    button:enabled:active {
        background-color: #444;
    }

    button:enabled:focus {
        outline: 2px solid #777;
    }
}